---
const to = "https://familukis.com/blog/actividades-para-halloween-en-casa/";
---
<!doctype html>
<html lang="es">
<head>
  <meta charset="UTF-8" />
  <meta name="robots" content="noindex" />
  <link rel="canonical" href={to} />
  <meta http-equiv="refresh" content={`0;url=${to}`} />
</head>
<body>
  <script define:vars={{ to }}>window.location.replace(to)</script>
</body>
</html>
